<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MambuUrl" value="https://grameenamerica.sandbox.mambu.com" />
    <add key="ApiUerId" value="iahsan" />
    <add key="ApiPassword" value="airs3890" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>